<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 전통적인 데이터베이스 칼럼명 형태인 A_COLUMN을 
          CamelCase형태의 자바 프로퍼티명 형태인 aColumn으로 자동으로 매핑하도록 함:매핑 false-->
        <setting name="mapUnderscoreToCamelCase" value="false"/>
    </settings>
    
    <typeAliases>
        <typeAlias type="com.sist.spring.portfolio.license.LicenseVO" alias="LicenseVO"/>
        <typeAlias type="com.sist.spring.portfolio.project.ProjectVO" alias="ProjectVO"/>
        <typeAlias type="com.sist.spring.portfolio.skill.SkillVO" alias="SkillVO"/>
        <typeAlias type="com.sist.spring.portfolio.project.PjtFileVO" alias="PjtFileVO"/>
        <typeAlias type="com.sist.spring.portfolio.member.MemberVO" alias="MemberVO"/>
        <typeAlias type="com.sist.spring.portfolio.comment.CommentVO" alias="CommentVO"/>
        <typeAlias type="com.sist.spring.portfolio.member.file.FileMemberVO" alias="FileMemberVO"/>
        <typeAlias type="com.sist.spring.cmn.SearchVO" alias="SearchVO"/>  
        <typeAlias type="com.sist.spring.covid.CovidUserVO" alias="CovidUserVO"/>
        <typeAlias type="com.sist.spring.covid.CovidParmVO" alias="CovidParmVO"/>
        <typeAlias type="com.sist.spring.covid.RxJoinVO" alias="RxJoinVO"/>
    </typeAliases>
</configuration>  